@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
  }
}

@layer components {
  .landing {
    min-height: calc(100vh - 64px)
  }
  .businesses::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  .oblique-lined {
    clip-path: polygon(0 0 ,100% 0%, 100% 84%, 0 100%);
  }
}

.breadcrumb__list {
  @apply items-center
}

.breadcrumb__link {
  @apply text-sm font-normal hover:underline hover:decoration-primary-main hover:underline-offset-2
}

.breadcrumb__separator {
  @apply text-sm font-normal mt-1
}

.breadcrumb__list__item {
  @apply mx-4 !important
}